div.usersList {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 0 5px 0;
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
}

div.usersList:nth-child(1n+2) {
  margin-top: 10px;
}
