* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(50, 50, 50);
  margin-top: 10px;
}

div.usersList {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 0 5px 0;
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
}

div.usersList:nth-child(1n+2) {
  margin-top: 10px;
}

#container {
  width: 750px;
  margin: 0 auto;
}

#leftPane {
  width: 225px;
  display: inline-block;
  margin: 5px 2.5px 0 0;
}

#rightPane {
  width: 520px;
  display: inline-block;
  margin: 5px 0 0 2.5px;
}

#chatWindow {
  height: 75vh;
  overflow-y: scroll;
}

.username {
  float: left;
  clear: both;
  margin-left: 10px;
}

.timestamp {
  margin-left: 5px;
  font-size: 10px;
}

.userMessageContainer {
  width: 75%;
  float: right;
  clear: both;
  margin-bottom: 25px;
}

.userMessageBubble:not(first-child):not(last-child) {
  border-radius: 15px 3px 3px 15px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: right;
  clear: both;
  background-color: rgb(22, 136, 254);
  color: rgb(246, 250, 255);
}

.userMessageBubble:first-child,
.userMessageBubble:last-child {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: right;
  clear: both;
  background-color: rgb(22, 136, 254);
  color: rgb(246, 250, 255);
}

.userMessageBubble:first-child {
  border-radius: 15px 15px 3px 15px;
}

.userMessageBubble:last-child {
  border-radius: 15px 3px 15px 15px;
}

.userMessageBubble:only-child {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: right;
  clear: both;
  background-color: rgb(22, 136, 254);
  color: rgb(246, 250, 255);
}

.otherMessageContainer {
  width: 75%;
  float: left;
  clear: both;
  margin-bottom: 25px;
}

.otherMessageBubble:not(first-child):not(last-child) {
  border-radius: 3px 15px 15px 3px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: left;
  clear: both;
  background-color: rgb(230, 230, 235);
}

.otherMessageBubble:first-child,
.otherMessageBubble:last-child {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: left;
  clear: both;
  background-color: rgb(230, 230, 235);
}

.otherMessageBubble:first-child {
  border-radius: 15px 15px 15px 3px;
}

.otherMessageBubble:last-child {
  border-radius: 3px 15px 15px 15px;
}

.otherMessageBubble:only-child {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 3px;
  float: left;
  clear: both;
  background-color: rgb(230, 230, 235);
}

/*.otherMessageBubble {
  margin-right: 25%;
  float: left;
  clear: both;
  background-color: rgb(230, 230, 235);
}*/

/*.userMessageBubble,
.otherMessageBubble {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 25px;
}*/
